.logo
{
height: 40px;
width: 100px;
margin-right: 5px;
}
.s2 i
{
color: white;
}
.navbar a:hover
{
color: yellow;
}
.area img
{
height: 150px;
}
#carouselExampleIndicators img
{
height: 600px;
width: 1350px;
}
#query
{
width: 500px;
}
.spa
{
color: teal;
}
svg 
{
color: white;
}
.loc svg
{
margin-top: 5px;
}
.s4 i
{
font-size:30px;
}
.en
{
position: absolute;

left: 73.7%;
top: 28%
}
/* .earth a
{
margin-top: 10px;
} */
.sky
{
display: inline-block;
margin-top: 8px;
font-size: 18px;
}